body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

.hero {
    text-align: center;
    margin: 50px 0;
}

.hero h1 {
    font-size: 2.5em;
    color: #4CAF50;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.image-container {
    text-align: center;
}

.image-container img {
    width: 200px; /* Cambia el tamaño según tus necesidades */
    height: auto; /* Para mantener las imágenes cuadradas */
    margin-top: 20px; /* Separación entre las imágenes y el botón */
}

.image-container p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333333;
}
